apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: order-service-dev

resources:
  - ../../base

patches:
  - path: patch-deployment.yaml
    target:
      kind: Deployment
      name: order-service

commonLabels:
  env: dev
