apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: auth-service-prod

resources:
  - ../../base

patches:
  - path: patch-deployment.yaml
    target:
      kind: Deployment
      name: auth-service

commonLabels:
  env: prod
